[user]
	name = Guy Bianco IV
	email = gjbiancoiv@gmail.com
[core]
	excludesfile = ~/.gitignore_global
	autocrlf = input
[alias]
	st = status
	co = checkout
	contributors = shortlog -sn
	last = for-each-ref --count=10 --sort=-committerdate refs/heads/ --format="%(refname:short)"
	graph-simple = log --graph --simplify-by-decoration --pretty=format:'%d' --all	
  graph = log --graph --full-history --all --color --pretty=tformat:"%x1b[31m%h%x09%x1b[32m%d%x1b[0m%x20%s%x20%x1b[33m(%an)%x1b[0m"
[merge]
  keepBackup = false
[push]
	default = simple
[color]
	ui = auto
[pull]
	rebase = false
